<html>
<head>
<title>memeshup gallery</title>
<style type="text/css">
body {
  font-family: Arial, Helvetica, 'Lucida Grande', sans;
  background: #333;
  color: #c00;
  text-align: center;
}
p {
  color: #aaa;
  margin-left: 100px;
  margin-right: 100px;
}
h1 a {
  color: #c00;
  text-decoration: none;
}
h1 a:hover {
  color: #c90;
  text-decoration: none;
}
a {
  color: #ccc;
  text-decoration: none;
}
a:hover {
  color: #fff;
  text-decoration: underline;
}
</style>
</head>
<body>
  <h1><a href="/?gallery=1">memeshup gallery</a></h1>
  <h6>
    <a href="/?gallery=1&filename=@FILENAME@&prev=1">&lsaquo; prev</a> |
    <a href="/?delete=1&filename=@FILENAME@">delete</a> |
    <a href="/">generate more</a> |
    <a href="/?gallery=1&filename=@FILENAME@&next=1">next &rsaquo;</a>
  </h6>
  <p>
    <a href="/?gallery=1"><img src="/@FILENAME@" alt="whoops" /></a>
  </p>
  <h4>newz:</h4>
  <p>There is now a &ldquo;gallery&rdquo; feature.  You can save images you
  like to the gallery so they don't get deleted, or delete images you don't
  like from the gallery.  There is no ranking system or way to undelete an
  image, so if someone else deletes your favorite meme, it's your fault for not
  saving it locally.  Enjoy!</p>
  <h4>deetz:</h4>
  <p>This is the most obvious continuation of Liam Cooke's fantastic automeme
  program.  It pulls an image from Wang Wang through the Flickr panda API, and
  sticks a random meme on it.  I think the linebreak algorithm is good, but the
  text placement and color choice could use some work.  Code is <a
  href="http://github.com/adlaiff6/memeshup">here</a>.</p>
  <h4>greetz:</h4>
  <p><a href="http://meme.boxofjunk.ws/">the auto-meme generator</a><br />
  <a href="http://www.flickr.com/">flickr</a><br />
  <a href="http://www.python.org/">python</a><br />
  <a href="http://www.pythonware.com/library/">the python imaging library</a></p>
</body>
</html>

